.card {
    border-color: black;
    border-width: medium;
    border-style: solid;
    display: flex;
    flex-flow: column;
    height: 100%;
    /* uses resize property to start movement,
    then tracks it with onMouseMove added by useMover */
    resize: both;
    /* overflow cannot be any property for resize to work */
    overflow: hidden;
    /* needs fixed position to be moved */
    position: fixed;
}

.headerMover {
    border-color: black;
    border-width: medium;
    border-style: solid;
    background-color: rgba(128, 128, 128, 15);
    /* needs fixed position so it can be moved */
    position: fixed;
}

.header {
    flex-shrink: 0;
}